/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* Header styles */

/* Content styles */
main {
  background-color: #3498db;
  color: #fff;
  padding: 1em;
  text-align: center;
}

/* Footer styles */

/* Responsive styles */
@media (max-width: 600px) {
  /* Styles for small screens (e.g., mobile) */
}

@media (min-width: 601px) and (max-width: 1024px) {
  /* Styles for medium-sized screens */
}

@media (min-width: 1025px) {
  /* Styles for larger screens */
}
